.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie{
  display: flex;
  flex-direction: row;
  
  margin: 2rem;
  align-items: flex-end;
  align-items: center;
  background-color: blanchedalmond;
}
img{
  /*border-radius: 50%;*/
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 1rem;
}
.info{
  padding: 2em;
  text-align: left;
}
h1{

  color: rgb(131, 64, 125);
  text-shadow: 2px 2px rgb(61, 21, 61);
}